{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% block body %}
{% load static %}
<link rel="stylesheet" href={% static 'css/search.css' %}>
  <div class="password-title m-5">
      <h1>Search result:</h1>
  </div>

  <div class="post-card-container">

    {% if allPosts|length == 0 %}
    <h3>No Search Results found</h3>
    <p>Your search query: <b>{{query|slice:"30"}}</b> - did not match any document.</p>
    <h5>Suggestions:</h5>
    <ul>
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
    </ul>
    {% endif %}

    {% for ps in allPosts %}
    <div class="card post-card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ps.image.url}}" class="img-fluid post-image rounded" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ps.title}}</h5>
            <p class="card-text">{{ps.content|slice:"100"}}...</p>
            <div class="read-btn my-2">
              <a class="btn btn-primary" href="/post/{{ps.slug}}/" role="button">Read More</a>
            </div>
            <p class="card-text"><small class="text-muted">Posted on {{ps.created_on|date:"d M, Y"}}</small></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock body %}
