<!doctype html>
{% extends 'base.html' %}

{% block title %}Post{% endblock title %}

    {% block body %}

    {% load static %}
    <link rel="stylesheet" href={% static 'css/post.css' %}>
    <h1 class="post-title">{{post_list.title}}</h1>

    <div class="cd-container">
        <div class="date-time">
            <p>{{post_list.created_on}}</p>
        </div>
    </div>

    <div class="post-container">

    <div class="post-image">
        <img src={{post_list.image.url}} class="img-fluid rounded" alt="...">
    </div>

    <div class="post-content">
        {{post_list.content}}
    </div>

    </div>

    <hr class="m-5">

    <div class="comment-container">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Add a Comment</label>
          </div>

          <div class="submit-comment">
            <a href="#"><button type="button" class="btn btn-primary m-3">Comment</button></a>
          </div>

          <div class="comment">
            <h3>Comments (count)</h3>
          </div>

          <div class="card w-75 card-user-comment">
            <div class="card-body">
              <strong class="card-title">Username</strong>
              <span class="comm-date">  date</span> 
              <p class="card-text">comment</p>
              <button type="button" class="btn btn-sm reply-btn">View 1 Reply</button>
              <button type="button" class="btn btn-sm reply-btn">Reply</button>
            </div>
          </div>

    </div>



    {% endblock body %}
  </body>
</html>