{% extends 'base.html' %} 

{% block title %}Password Reset{% endblock title %} 

{% block body %}

<style>
    .email-title {
        text-align: center;
        margin: 6% 0%;
    }
    form {
        text-align: center;
        margin: 3% 5%;
    }
</style>

<div class="email-title">
    <h2>Email address</h2>
</div>

<form method="post" action="/forgot-password/">
    {% csrf_token %}
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write your Email here" name="passemail" id="passemail">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock body %}